* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin:0px;
	padding:0px;
}

body {
	background:#f2f2f2;
	color:#333;
	font-family:Arial, helvetica, sans-serif;
}

a {
	text-decoration: none;
	color:#F24C27;
}

.wrapp {
	max-width: 1000px;
	width:80%;
	margin:auto;
	overflow: hidden;
}

header {
	width: 100%;
	height: 83px;
	padding:20px 0;
	background: #fff;
	overflow: hidden;
}

.logo {
	width: 55px;
	float: right;
}

.logo img {
	width:100%;
	vertical-align: top;
}

nav {
	float: right;
}

nav ul li {
	display: inline-block;
	margin:0px 5px;
}

nav ul li a {
	display: block;
	background: #f2f2f2;
	color: #037E8C;
	padding:10px 20px;
	text-decoration: none;
	border-radius:3px;
	transition:all 300ms ease;
}

nav ul li a:hover {
	color: #fff;
	background: #F24C27;
}

.mensaje {
	background:#007934;
	padding:8px;
	color:#fff;
	margin:5px 0;
	border-radius:1 px;
}


.linea {
	background:#007934;
	padding:8px;
	color:#fff;
	margin:5px 0;
	border-radius:1 px;
	width: 100%;
}

.articulo {
	float: center;
	width: 100%;
	padding:0px 20px 20px 0px;
}

aside {
	float: left;
	width: 30%;
	background:#024959;
	color:#fff;
	padding:20px;
	border-radius:5px;
}

.widget ul {
	margin-left:20px;
}

.widget ul li {
	margin:10px 0;
	width: 100%;
}

.widget ul li a {
	color:#fff;
}

.widget ul li a:hover {
	text-decoration: underline;
}

footer {
	width: 100%;
	background:#333;
	padding:20px 0;
	color:#fff;
}

footer p {
	text-align:center;
}


.sidear.hide {
    margin-left: -180px;
}
.sidear {
    width: 180px;
    height: 100vh;
    background-color: green;
    display: inline-block;
    text-align: left;
    position: relative;
    transition: all 0.5s ease;
}
.sidear button {
		position: absolute;
	    right: -40px;
	    top: 50%;
	    transform: translateY(-50%);
	}

span#open {
    position: absolute;
    padding: 5px;
    border: solid lavender;
    right: -25px;
    top: 50%;
    transform: translateY(-50%) rotate(270deg);
    background: gray;
}

.sidear li {
    display: block;
    margin: 20px;
}

section.main {
    width: 60%;
    display: inline-block;
    vertical-align: top;
}
table {
    border: 1px solid black;
    border-collapse: collapse;
}

th {
    background-color: #d3e4d4;
}
th, td {
    border: 1px solid black;
    padding: 5px;
    text-align: center;
}
