﻿.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

/*  Cambios en la hoja de estilos para grupos de checkbox   */
.contenedor-checkbox{
    display: inline-block;
}

.contenedor-checkbox label{
    float: left;
    margin: 5px;
    position: relative;
}

.contenedor-checkbox input{
    float: left;
    margin-left: 5px
}

#PopupAccionesPersonalCrear{
    display: inline-block;
    margin: 0;
    padding: 0;
}

#footer-acciones-personal .derecha{
    display: inline-block;
    margin: 0;
    padding: 0;
    float: right;
}

#footer-acciones-personal #PopupAccionesPersonalCrear{
    float: right;
    display: inline-block;
}

#footer-acciones-personal div label{
    padding-top: 15px;
    margin-right: 10px;
    font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#footer-acciones-personal{
    height: 60px;
}

#lblSimboloSolicitarAccionPersonal{
    padding: 0;
    margin: 0;
    float: right;
}

.etiqueta{
    color: #aaa;
    margin-left: 20px;
}

.enlace {
    width: 30px;
    float: right;
    padding: 0;
}

#tabla-gestion-personal .form-group{
    margin-top: 10px;
    margin-bottom: 10px;
}

#tabla-gestion-personal{
    margin-bottom: 15px;
}

#btn-exportar, #btn-importar, #btnExportarGestionar, #btnExportarHorasExtras{
    display: inline-block;
    margin-left: 20px;
    margin-bottom:  10px;
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
}

#btn-exportar:hover, #btnExportarGestionar:hover, #btn-importar:hover, #btnExportarHorasExtras:hover{
    background-color: #eee;
}

#btnExportarGestionar{
    margin-left: 0;
}

/*Estilos para formularios en linea-------------------------------*/
formulario-linea{
    width: 100%;
}

.formulario-linea .grupo-formulario {
    display: inline-block;
    margin-right: 10px;
    float: left;
}

.formulario-linea 
.grupo-formulario:last-child{
    margin-left: 0;
}

.grupo-formulario label, 
.grupo-formulario input,
.grupo-formulario select {
    display: inline-block;
}

.grupo-formulario label {
    margin-right: 10px;
    margin-left: 0;
}

/* Estilos para el formulario ReporteVacaciones en linea */
#formReporteIncapacidades .grupo-formulario #btn-exportar,
#formReporteHorasExtras .grupo-formulario #btn-exportar,
#formReporteVacaciones .grupo-formulario #btn-exportar{
    margin: 0;    
    padding: 10px;
}

#formReporteHorasExtras .grupo-formulario #btn-exportar:hover,
#formReporteVacaciones .grupo-formulario #btn-exportar:hover{
    background-color: #eee;
    border-radius: 5px;
}

#formReporteIncapacidades .grupo-formulario input,
#formReporteHorasExtras .grupo-formulario input,
#formReporteVacaciones .grupo-formulario input{
    width: 150px;
}

#formReporteIncapacidades .grupo-formulario:last-child,
#formReporteHorasExtras .grupo-formulario:last-child,
#formReporteVacaciones .grupo-formulario:last-child{
    float: right;
}

/* Estilos para el segundo formulario de vacaciones masivas en linea */
#formEmpleadoVacacionesMasivas .grupo-formulario #ddlBuscarPor{
    width: 120px;
}

#formEmpleadoVacacionesMasivas .grupo-formulario #ddlSeleccion{
    width: 300px;
}

/* Estilos para el primer formulario de vacaciones masivas */
#formVacacionesMasivas .grupo-formulario input{
    width: 150px;
}

#formularioProyecciones {
    margin: 30px 0px 0px 0px;
}

#formularioProyecciones .grupo-formulario select{
    width: 120px;
}
/*Estilos para formularios en linea-------------------------------*/

/*Estilos elemento de navegacion para formularios-----------------*/
.navegacion{
    padding: 0;
    text-decoration: none;
    text-align: center;
    list-style: none;
    box-shadow: 0 -1px 0 #e5e5e5, 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);
}

.contenedor-navegacion{
    background-color: #0d47a1;
    opacity: 0.8;
}

.contenedor-navegacion ul{
    padding: 0px;
}

.navegacion-item{
    color: #fff;
    padding: 10px 15px;
    font-weight: bold;
    display: inline-block;
    cursor: pointer;
}


.navegacion-item:hover{
    background-color: #0d47a1;
    opacity: 0.7;
}
/*Estilos elemento de navegacion para formularios-----------------*/

/*Estilos del nombre de usuario*----------------------------------*/
#lbl_usuario{
    margin-right: 20px;
}
/*Estilos del nombre de usuario*----------------------------------*/
